.xt-clr-tag {
	padding:0.25em 0 0.2em 15px;
	font-family:monospace;
	position:relative;
	display: block;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.xt-clr-tag.hover{
	background:#fefcf1;
	border-color:#f2c202;
}

.xt-clr-tag.selected {
	background:#f1fefe;
	border-color:#02def2;
}

.xt-clr-tag-open, 
.xt-clr-tag-close {
	color:#1c8080;
	cursor:pointer;
	display: block;
}

.xt-clr-attr {
	color:#767676;
}

.xt-clr-attr-name {
	color:#940083;
}

.xt-clr-attr-value {
	color:#3e00ff;
}

.xt-clr-text {
	color:#000;
	padding-left: 20px;
	display: block;
}

.xt-clr-tag-switcher {
	width:15px;
	height:1.1em;
	position:absolute;
	background:url(../i/collapse-icon.png) 0% 50% no-repeat;
	left:0;
	top: 0.3em;
	display:inline-block;
	cursor:pointer;
	opacity:0;
	-webkit-transition:opacity 0.2s linear 0;
	transition:opacity 0.2s linear 0;
}

.xt-clr-tag:hover > .xt-clr-tag-switcher {
	opacity:1;
}

.xt-collapsed > .xt-clr-tag-switcher {
	background-position:-15px 50%;
}

.xt-collapsed .xt-clr-tag,
.xt-collapsed .xt-clr-text {
	display:none;
}

.xt-marked > .xt-clr-tag-open {
	background:#ccf3d8;
	-webkit-border-radius:5px;
	-moz-border-radius:5px 5px;
	/* color:#fff !important; */
}

.xt-clr-one-line > .xt-clr-tag-open,
.xt-clr-one-line > .xt-clr-tag-close,
.xt-clr-one-line > .xt-clr-text {
	display: inline;
}

.xt-clr-one-line > .xt-clr-text {
	padding-left: 0;
}

.xt-clr-one-line > .xt-clr-tag-switcher {
	display: none;
}