html, body, #xt-page {
	width:100%;
	height:100%;
}

body {
	font-size:62.5%;
	overflow:hidden;
	font-family:'Lucida Grande', arial, sans-serif;
}

#xt-page {
	font-size:1.2em;
	visibility:hidden;
}

#xt-top-panel {
	position:absolute;
	left:0;
	right:0;
	padding:0 15px;
	line-height:3em;
	color:#fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#474747), to(#000));
	background-image: -moz-linear-gradient(top, #474747, #000);
	background-color:#000;
}

#xt-top-panel:after {
	position:absolute;
	width:100%;
	height:1px;
	bottom:1px;
	left:0;
	background:#444;
	overflow:hidden;
	text-indent:-2em;
	content:'.';
}

#xt-page-body {
	position:absolute;
	top:3em;
	bottom:200px;
	left:0;
	right:0;
	overflow:auto;
}

#xt-content {
	padding:5px;
	font-size:12px;
	line-height:1.4;
}

#xt-content .xt-clr-tag-open, 
#xt-content .xt-clr-tag-close {
	cursor:pointer;
}

#xt-trace-info {
	position:absolute;
	height:200px;
	position:absolute;
	bottom:0;
	width:100%;
}

.xt-panel-header {
	border-top:1px solid #9d9d9d;
	border-bottom:1px solid #8c8c8c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4d4d4), to(#bbb));
	background-image: -moz-linear-gradient(top, #d4d4d4, #bbb);
	background-color:#c3c3c3;
	padding:0 15px;
	line-height:2.5em;
	height:2.5em;
	color:#333333;
	text-shadow:0 1px 1px rgba(255,255,255,0.8);
	font-weight:bold;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor: row-resize;
}

.xt-section {
	border-left:1px solid #a3a3a3;
	width:33%;
	position:absolute;
	top:2.5em;
	bottom:0;
	/* overflow:auto; */
	background:#fff;
}

.xt-section h2 {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A2B1CF), to(#788AB1));
	background-image: -moz-linear-gradient(top, #A2B1CF, #788AB1);
	background-color:#A2B1CF;
	border-top: 1px solid #91A0C0;
	padding: 0 8px 1px 15px;
	white-space: nowrap;
	font-size:12px;
	line-height:18px;
	height:18px;
	overflow:hidden;
}

.xt-section h2 .xt-title {
	color: white;
	font-weight: bold;
	white-space: normal;
	word-wrap: break-word;
	display:block;
}

.xt-section .xt-subtitle {
	color: rgba(255, 255, 255, 0.7);
	float: right;
	font-size: 10px;
	margin-left: 5px;
	max-width: 55%;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}

.xt-section h3,
.xt-subtitle-plate {
	-webkit-background-clip: padding;
	-webkit-background-origin: padding;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), color-stop(0.05, #F3F3F3), color-stop(0.05, #E6E6E6), to(#D1D1D1));
	background-image: -moz-linear-gradient(top, #F3F3F3, #D1D1D1);
	background-color:#e5e5e5;
	border-bottom: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	color: #6E6E6E;
	font-size: 12px;
	font-weight: bold;
	line-height:18px;
	height:18px;
	padding: 0px 15px;
	padding-left:20px;
	text-shadow: white 0px 1px 0px;
	overflow:hidden;
}

.xt-xpath {
	font-weight:normal;
	font-size:9px;
	position:relative;
	top:-1px;
	/* Makes text look better (because of flash problem) */
	display:inline-block;
	background:inherit;
}

.xt-copy-buf {
	position:absolute;
	margin-top:2px;
	left:3px;
}

.xt-callstack-res {
	padding:2px 10px 2px 15px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#d1d1d1));
	background-color:#d1d1d1;
	color:#707070;
	text-shadow:0 1px 0 rgba(255,255,255,0.7);
	border-top:1px solid #f3f3f3;
	border-bottom:1px solid #bdbdbd;
	font-size:9px;
}

.xt-callstack {
	list-style:none;
	background:#fff;
	border-bottom:1px solid #bdbdbd;
}

.xt-callstack > li {
	padding:0.5em 15px;
	font-size:11px;
	clear:left;
}

.xt-callstack > li:nth-child(even) {
	background:#eef5ff;
}

.xt-callstack .xt-file-link {
	font-size:10px;
	float:right;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	max-width:55%;
	margin-left:10px;
	color:#999;
}

.xt-section-content {
	padding:0.5em 0;
	font-size:11px;
	position:absolute;
	top:40px;
	bottom:0;
	width:100%;
	overflow:auto;
}

.xt-file-link {
	text-decoration:underline;
	cursor:pointer;
}

#xt-callstack-section {
	right:0;
	background:#f5f5f5;
	overflow: auto;
}

#xt-xml-section {
	right:33%;
	margin-right:1px;
	z-index:2;
}

#xt-xsl-section {
	right:66%;
	margin-right:1px;
	width:34%;
}

.inited #xt-page {
	visibility:visible;
}

.xt-document {
	display:none;
}

#xt-xml-section > .xt-subtitle {
	position:absolute;
	right:0;
	z-index:2;
	line-height:18px;
	padding-right:8px;
}

#xt-callstack-section h3 {
	padding-left:15px;
	padding-right:15px;
}

#xt-callstack-section ul + h3 {
	border-top:0;
}
