#xt-preloader {
	position:absolute;
	width:60em;
	padding:2em;
	left:50%;
	top:50px;
	margin-left:-32em;
	border:1px solid #cdcdcd;
	z-index:10;
	background:#fff;
	display:none;
	
	-webkit-background-clip:padding;
	
	-webkit-border-radius: 10px;	-moz-border-radius: 10px;	border-radius: 10px;
	
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.1);	-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.1);	-ms-box-shadow: 0 3px 15px rgba(0,0,0,0.1);	box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

#xt-preloader h3 {
	font-size:2em;
	font-weight:bold;
	margin-bottom:1em;
	color:#8b8b8b;
}

#xt-preloader .xt-error {
	padding:1em 0;
	display:none;
}

.xt-file-list {
	list-style:none;
}

.xt-file-list > li {
	margin-bottom:0.6em;
}

.xt-file-list > li.success {
	color:#1cb035;
}

.xt-file-list > li.error {
	color:#b0261c;
}

.xt-file-list > li.error .xt-file-name {
	text-decoration:underline;
	cursor:pointer;
}

.loading #xt-preloader {
	display:block;
}